.places {
    padding-left: 20px;
}

.places h1 {
    font-size: 30px;
    margin: 20px 0 0 0;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5a5f;
    border-radius: 4px;
    display: inline-block;
    position: relative;
}

.places article .name_price h2 {
    font-size: 30px;
    margin: 0;
}

.places .name_price {
    display: flex;
    justify-content: right;
    gap: 15px;
    margin-bottom: 10px;
}

.places .name_price .price_by_night {
    margin-left: 40px;
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: right;
    height: 60px;
    min-width: 60px;
    font-size: 30px;
    padding: 10px;
}

.places .information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.places .information .max_guest,
.places .information .number_rooms,
.places .information .number_bathrooms {
    width: 100px;
    background-position: center top;
    background-repeat: no-repeat;
    line-height: 6em;
    text-align: center;
}

.places .information .max_guest p,
.places .information .number_rooms p,
.places .information .number_bathrooms p {
    margin-bottom: 0;
}

.places .information .max_guest {
    background-image: url(../images/icon_group.png);
}

.places .information .number_rooms {
    background-image: url(../images/icon_bed.png);
}

.places .information .number_bathrooms {
    background-image: url(../images/icon_bath.png);
}


.places .user span {
    font-weight: bold;
}



.places article .amenities {
    margin-top: 40px;
    width: 100%;
}


.places .amenities h2 {
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
    text-align: left;
}

.places .amenities ul {
    list-style-type: none;
    padding: 0;
}

.places .amenities ul li {
    line-height: 30px;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 30px;
    padding-left: 50px;
}

.pets_friendly_icon {
    background-image: url(../images/icon_pets.png);
}

.tv_icon {
    background-image: url(../images/icon_tv.png);
}


.wifi_icon {
    background-image: url(../images/icon_wifi.png);
}


.places .reviews {
    margin-top: 40px;
}

.places .reviews h2 {
    font-size: 16px;
    text-align: left;
    border-bottom: 1px solid #DDDDDD;
}

.places .reviews ul {
    list-style-type: none;
    padding: 0;
}

.places .reviews ul li h3 {
    font-size: 14px;
}

.places .reviews ul li p {
    font-size: 12px;
}

@media only screen and (max-width: 970px) {
    .places article {
        width: 90%;
    }

    .places .name_price {
        display: flex;
        justify-content: center;
    }

    .places .information {
        display: flex;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 670px) {
    .places .amenities ul{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding-left: 30px;
    }

    .places .amenities ul li {
        background-position:  -40px right;
    }

    .places article .amenities h2,
    .places article .reviews h2 {
        font-size: 13px;
        font-weight: bold;
    }

    .places .amenities ul li h3,
    .places .reviews ul li h3 {
        font-size: 13px;
        font-weight: bold;
    }
}
